[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6.2'

[dev-packages]
ipdb = "*"
"flake8" = "*"
ptvsd = "*"

[packages]
livereload ='*'
ibmcloudenv ='~=0.0'
whitenoise = "*"
gunicorn = "*"
djangorestframework = "*"
rasterio = "*"
pillow = "*"
django-minio-storage = "*"
"psycopg2-binary" = "*"
django-cors-headers = "*"
rio-cogeo = "==1.0.dev9"
django = "==1.11.20"
