[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6.2'

[dev-packages]
ipdb = "*"
"flake8" = "*"

[packages]
livereload ='*'
ibmcloudenv ='~=0.0'
Django = "==1.11.8"
gunicorn = "==19.7.1"
whitenoise= "==3.3.1"
djangorestframework = "*"
rasterio = "*"
pillow = "*"
rio-cogeo = "==1.0.dev5"
django-minio-storage = "*"
